
<!--    MOBILE / DEFAULT        SM MIN 640 PX           MD MIN 768 PX           LG MIN 1024 PX          XL MIN 1280 PX          2XL MIN 1536 PX -->

<div class="

        relative

        w-full
        h-dvh

        border-y-2
        border-slate-900

        bg-gradient-to-br from-dark-900 to-dark-800
        
    ">

    <div class="absolute w-full h-full" style="
        background: 
            repeating-linear-gradient(150deg, #282D4480, #0D1026AA 2px, transparent 1px, transparent 40px),
            repeating-linear-gradient(30deg, #282D44AA, #0d102680 1px, transparent 2px, transparent 40px);
        background-size: 80px 46px;
    "></div>

    <div class="absolute w-full h-full bg-custom-gradient backdrop-filter backdrop-blur-[0.5px]"></div>

    <!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
    <!--                                  T O P                                  -->
    <!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
    <div class="w-[120px] h-[10px] bg-gradient-to-l from-dark-800 to-light-300 absolute left-0 z-30"></div>
    <div class="w-[10px] h-[120px] bg-gradient-to-t from-dark-800 to-light-300 absolute left-0 z-30"></div>
    
    <div class="w-[120px] h-[10px] bg-gradient-to-r from-dark-800 to-light-300 absolute right-0 z-30"></div>
    <div class="w-[10px] h-[120px] bg-gradient-to-t from-dark-800 to-light-300 absolute right-0 z-30"></div>
    <!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
    <!--                               B O T T O M                               -->
    <!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
    <div class="w-[120px] h-[10px] bg-gradient-to-l from-dark-800 to-light-300 absolute left-0 bottom-0 z-30"></div>
    <div class="w-[10px] h-[120px] bg-gradient-to-b from-dark-800 to-light-300 absolute left-0 bottom-0 z-30"></div>
    
    <div class="w-[120px] h-[10px] bg-gradient-to-r from-dark-800 to-light-300 absolute right-0 bottom-0 z-30"></div>
    <div class="w-[10px] h-[120px] bg-gradient-to-b from-dark-800 to-light-300 absolute right-0 bottom-0 z-30"></div>
    <!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

    <div class="

        z-10

        absolute

        bottom-10
        right-10
    
        ">

        <p class="text-[72px] leading-[60px] font-bold font-chakra">
            NBM
        </p>

        <p class="text-[16px] leading-4 font-medium font-chakra text-end pr-1">
            version {{getVersion}}
        </p>

    </div>

    <c-content-title />

    <c-grid-layout />    

</div>