
<!--    MOBILE / DEFAULT        SM MIN 640 PX           MD MIN 768 PX           LG MIN 1024 PX          XL MIN 1280 PX          2XL MIN 1536 PX -->

<div class="

        relative
        
        grid
        aspect-square

        content-center
        justify-center

        text-sm
        font-normal
        font-lato

        text-secondary
        hover:text-primary/70

        backdrop-filter backdrop-blur-[1px]

        rounded-md
        
        shadow-inner 

        cursor-pointer
    
    ">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
        <path fill-rule="evenodd" [attr.d]="getValue" clip-rule="evenodd"/>
        <path fill-rule="evenodd" [attr.d]="getValue2" clip-rule="evenodd"/>
    </svg>
      

</div>