
<!--    MOBILE / DEFAULT        SM MIN 640 PX           MD MIN 768 PX           LG MIN 1024 PX          XL MIN 1280 PX          2XL MIN 1536 PX -->

<div class="

        relative
        
        grid
        grid-cols-2
        grid-rows-2

        grid-flow-row-dense

        gap-y-1

        py-1.5
        px-2

        text-start

        text-sm
        font-normal
        font-lato

        backdrop-filter backdrop-blur-[1px]

        border-light-300
        border-[1px]
        rounded-md
        
    ">

    <div class="text-light-100">
        {{getRoomName}}
    </div>

    <div class=" text-light-100 text-end ">
        {{getLevel}}
    </div>

    <div class="text-light-200">
        {{getSector}}
    </div>

    <div class="text-end font-semibold text-success-500">
        {{getStatus}}
    </div>
        
 </div>