
<!--    MOBILE / DEFAULT        SM MIN 640 PX           MD MIN 768 PX           LG MIN 1024 PX          XL MIN 1280 PX          2XL MIN 1536 PX -->

<div class="

        z-10

        absolute

        mt-[14px]

        w-full
        h-[110px]

        content-center
        pl-10

    ">

    <div class="
    
        h-auto

        border-l-4
        border-slate-900

        px-3
        py-1
    
        ">
    
        <p class="text-3xl leading-8 tracking-wide font-bold font-chakra">
            {{getBuilding}}
        </p>
        
        <p class="text-[16px] tracking-wide font-semibold font-chakra">
            {{getCompany}}
        </p>
    
    </div>

</div>