
<!--    MOBILE / DEFAULT        SM MIN 640 PX           MD MIN 768 PX           LG MIN 1024 PX          XL MIN 1280 PX          2XL MIN 1536 PX -->

<div class="

        z-50

        relative

        grid
        grid-cols-1
        grid-rows-[auto_1fr_auto]

        content-start

        py-[30px]
        px-[15px]

        gap-9

        w-16
        h-dvh

        bg-gradient-to-br from-dark-900 to-dark-800

        border-2
        border-slate-900
        
    ">

    <!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
    <!--                                  T O P                                  -->
    <!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
    <div class="w-[10px] h-[20px] bg-gradient-to-t from-dark-800 to-slate-900 absolute left-0"></div>
    
    <div class="w-full h-[10px] bg-gradient-to-r from-dark-800 to-slate-900 absolute right-0"></div>
    <div class="w-[10px] h-[20px] bg-gradient-to-t from-dark-800 to-slate-900 absolute right-0"></div>
    <!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
    <!--                               B O T T O M                               -->
    <!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
    <div class="w-[10px] h-[20px] bg-gradient-to-b from-dark-800 to-slate-900 absolute left-0 bottom-0"></div>
    
    <div class="w-full h-[10px] bg-gradient-to-r from-dark-800 to-slate-900 absolute right-0 bottom-0"></div>
    <div class="w-[10px] h-[20px] bg-gradient-to-b from-dark-800 to-slate-900 absolute right-0 bottom-0"></div>
    <!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
    
    <ul class="

        relative

        grid
        grid-cols-1
        gap-y-4

        content-start

        h-auto

        font-bold
        text-light-200


        ">

        <li><app-nav-button setValue="dashboard" /></li>
        <li><app-nav-button setValue="usage" /></li>
        <li><app-nav-button setValue="map" /></li>

    </ul>

    <ul class="

        relative

        grid
        grid-cols-1
        gap-y-4

        content-start

        h-auto

        font-bold
        text-light-200


        ">

        <li><app-nav-button setValue="security" /></li>
        <li><app-nav-button setValue="calendar" /></li>
        <li><app-nav-button setValue="user" /></li>

    </ul>

    <ul class="

        relative

        grid
        grid-cols-1
        gap-y-4

        content-start

        h-auto

        font-bold
        text-light-200


        ">

        <li><app-nav-button setValue="messages" /></li>
        <li><app-nav-button setValue="settings" /></li>

    </ul>

        

</div>